*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size: 40%;
}

header div.box2{
    display: none;
}

header div.sec2{
    display: none;
}

header div.sec1{
    width: 100%;
}

section.grid-container{
    display: grid;
    grid-template-areas: "header1"
                         "chef1"
                         "chef2"
                         "chef3"
                         "chef4"
    ; 
    gap: 15px; /* Add some spacing between grid items */
    margin-top: 10rem;
    margin-bottom: 10rem;
}

section.grid-container div.grid-item {
    padding: 50px;
}

div.grid-item h5{
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 7px;
    text-align-last: center;
}

div.grid-item p{
    font-size: 2.5rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

div.header1 h4{
    font-family: "pacifico", cursive;
    color: #FEA116;
    font-size: 3rem;
}

div.header1 h1{
    font-family: "Nunito", sans-serif;
    font-size: 5rem;
    font-weight: 800;
}

div.section div.sec1 h1{
    font-size: 8rem;
    font-family: "nunito", sans-serif;
    padding-bottom: 2px;
}

header div.nav-con-tain-er div.section div{
    width: 100vw;
}

header div.hide{
    display: block;
    justify-content: flex-end;
}

header div.hide a{
    font-size: 4rem;
}

header nav h1{
    font-size: 4rem;
}

section.con-tain-er1 div.boxes{
    flex-basis: 60rem;
    text-align: center;
}

footer input#maily{
    padding: 2rem 4rem 2rem 1rem;
    font-size: 1.8rem;
    outline: none;
    margin-top: 10px;
    border: 1px solid #FEA116;
    border-radius: 5px;
}

footer input#submit{
    padding: 1.4rem 0.8rem;
    margin-left: -68px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
    color: white;
    background-color: #FEA116;
}


/* ----------------section 3 -------------------- */
section.sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0f172b;
    margin-top: 10rem;
}

section.sec3 div{
    width: 100%;
    text-align: center;
}

div.aqua form #name,#mail{
    font-size: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.9rem;
    margin-right: 1.2rem;
}

#message{
    height: 10rem;
    width: 59.8rem;
    margin-top: 1rem;
    font-size: 2rem;
}

div.aqua button{
    background-color: #FEA116;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 2rem 24.5rem;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 30px;
}

footer div.flex-container{
    gap: 15px;
}

footer div.flex-item{
    flex-basis: 60rem;
    text-align: center;
 }

 div.flex-item ul a{
    text-decoration: none;
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
    color: white;
}